/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(59, 59, 59);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33ca58;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

@media screen and (max-width: 786px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
